Embedded\ Application/Computer\ Test/1\)\ Motion\ Detection/motion_detector
Embedded\ Application/Computer\ Test/2\)\ Buffer\ Recording/buffer_recording
Embedded\ Application/Platform\ Test/1\)\ Motion\ Detection/motion_detector
Embedded\ Application/Platform\ Test/2\)\ Buffer\ Recording/buffer_recording
Embedded\ Application/Computer\ Test/3\)\ Face\ Detection/dataset
Embedded\ Application/Computer\ Test/3\)\ Face\ Detection/encodings.csv
Embedded\ Application/Computer\ Test/3\)\ Face\ Detection/test
Embedded\ Application/Computer\ Test/3\)\ Face\ Detection/data
Embedded\ Application/Computer\ Test/3\)\ Face\ Detection/headshots
Embedded\ Application/Computer\ Test/3\)\ Face\ Detection/record_detect_faces
Embedded\ Application/Platform\ Test/3\)\ Face\ Detection/cascades
Embedded\ Application/Platform\ Test/3\)\ Face\ Detection/data
Embedded\ Application/Platform\ Test/3\)\ Face\ Detection/dataset
Embedded\ Application/Platform\ Test/3\)\ Face\ Detection/test
Embedded\ Application/Platform\ Test/3\)\ Face\ Detection/encodings.csv
Embedded\ Application/Platform\ Test/3\)\ Face\ Detection/headshots
Embedded\ Application/Platform\ Test/3\)\ Face\ Detection/record_detect_faces
Desktop\ Application/DesktopApp/data
Desktop\ Application/DesktopApp/processed_videos
